header {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 60px;
  gap: 40px;
  background-color: #e9f4ff;
}

header .action-button {
  width: 167px;
  height: 54px;
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: 700;
  align-self: center;
}

header .pallets-image {
  position: relative;
  z-index: 2;
}

header .dotted-image {
  position: absolute;
  margin-top: -22px;
  left: 44px;
  z-index: 1;
}

header .introduction-image {
  position: relative;
}

header .bright-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background: #e9f4ff;
  width: 100%;
  height: 245px;
  margin-bottom: 30px;
}

#introduction-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  gap: 40px;
}

#introduction-section h2 {
  margin-top: 30px;
}

#introduction-section .introduction-image {
  display: flex;
  flex-direction: column;
  margin: 25px;
}

#introduction-section .introduction-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

#introduction-section p.first-paragraph {
  color: #1a2630;
}

#introduction-section p {
  margin: 0 25px 0 25px;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  color: #4f5863;
}

#services-section {
  text-align: center;
  padding: 20px 10px;
  background-color: #e6f3ff;
}

#services-section h2 {
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 40px;
  position: relative;
  display: inline-block;
}

#services-section h2 span {
  position: relative;
  display: inline-block;
}

#services-section h2 span::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #2a73ff;
  margin: 8px auto 0;
  border-radius: 5px; /* the curved end */
}

.services-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 0 auto;
  max-width: 400px;
}

.service-card {
  position: relative;
  background: url(../assets/logo-design.png) center/cover no-repeat;
  border-radius: 10px;
  overflow: hidden;
  color: #fff;
  height: 150px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.service-content {
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 2;
}

.service-title {
  font-size: 1rem;
  margin: 0 0 10px;
}

.service-link {
  color: #fff;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  font-size: 0.9rem;
}

.service-link:hover {
  color: #2a73ff;
}

.view-more .action-button {
  display: inline-block;
  width: 182px;
  height: 54px;
  margin-top: 40px;
  margin-bottom: 30px;
  position: relative;
  text-align: start;
}

.service-title-wrapper {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between icon and text */
  margin-bottom: 15px;
}

.service-title-wrapper img {
  position: relative;
}

.service-title-wrapper span {
  margin: 0 0 10px;
  position: absolute;
  text-align: left;
  margin-left: 40px;
  margin-top: 3px;
  font-size: 14px;
  font-weight: 600;
}

#testemonial-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 60px;
  gap: 40px;
}

#testemonial-section .testemonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f6fe;
  margin: 0 30px;
  padding: 40px 10px;
  border-radius: 15px;
}

#testemonial-content .slider-left,
#testemonial-content .slider-right {
  display: none;
}

#testemonial-section .testemonial-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

#testemonial-section .testemonial-text img {
  width: 38px;
  height: 31px;
  align-self: center;
}

#testemonial-section .testemonial-text p {
  margin: 0 25px 0 25px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.6px;
  color: #4f5863;
}

#testemonial-section .testemonial-slider {
  display: flex;
  gap: 10px;
}

#contact-us-section h2 {
  text-align: center;
  margin-bottom: 40px;
}

#contact-us-section .bright-background {
  display: flex;
  flex-direction: column;
  background: #e9f4ff;
  width: 100%;
  height: 775px;
  margin-bottom: 110px;
}

.contact-us {
  display: grid;
  grid-auto-flow: row;
  margin: 30px;
  gap: 25px;
}

.contact-us .item .icon {
  display: inline-block;
  background-color: #fff;
  padding: 8px;
  border-radius: 4px;
  margin-right: 10px;
}

.contact-us .item span {
  color: #1a2630;
  font-weight: 500;
  font-size: 19px;
  margin-bottom: 12px;
}

.contact-us .item p {
  margin-left: 52px;
  color: #4f5863;
  font-size: 15px;
}

#contact-form {
  display: grid;
  justify-content: center;
  gap: 20px;
  background-color: #fff;
  filter: drop-shadow(0 0 0.75rem #efede9);
  border-radius: 15px;
  margin: 20px;
  padding: 30px;
  grid-template-areas:
    "name name name"
    "email email email"
    "company company company"
    "phone phone phone"
    "submit . .";
}

#name-field {
  grid-area: name;
}

#email-field {
  grid-area: email;
}

#company-field {
  grid-area: company;
}

#phone-field {
  grid-area: phone;
}

#submit {
  grid-area: submit;
}

#contact-form label,
#contact-form input {
  display: inline-block;
  width: 100%;
}

#contact-form label {
  margin-bottom: 15px;
  color: #1a2630;
  font-size: 14px;
}

#contact-form input {
  height: 48px;
  border: 1px solid #e2e7ed;
  border-radius: 6px;
}

#submit {
  width: 152px;
  height: 54px;
}

#stay-updated-section h2 {
  text-align: center;
  margin-bottom: 40px;
}

#stay-updated-section .cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#stay-updated-section .card {
  display: flex;
  flex-direction: column;
  width: 335px;
  align-self: center;
}

#stay-updated-section .description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #e9f4ff;
  border: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#stay-updated-section .description p {
  font-size: 17px;
  font-weight: 450;
  line-height: 150%;
  color: #1a2630;
}

#stay-updated-section .description span {
  font-size: 15px;
  font-weight: 450;
  color: #4361ee;
  position: relative;
}

#stay-updated-section .description span img {
  position: absolute;
  margin-left: 12px;
}

#stay-updated-section .view-all-btn {
  display: flex;
  justify-content: center;
  margin: 30px 0 60px;
}

#stay-updated-section .action-button {
  width: 161px;
  height: 54px;
}

.stay-updated-image {
  width: 335px;
  height: 210px;
}

span.underline-img {
  border-bottom: solid;
  border-image: url(../assets/vector-3.png) 30 stretch;
}

.footer {
  background-color: #03071b;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.footer .icons {
  display: flex;
  margin-bottom: 20px;
}

.footer .social-icons {
  display: flex;
  align-self: center;
  gap: 15px;
}

.footer .social-icons img {
  width: 24px;
  height: 24px;
}

.footer .logo-icon {
  width: 62px;
  height: 62px;
}

.footer .newsletter {
  max-width: 400px;
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer .newsletter h3 {
  margin-bottom: 10px;
  color: white;
}

.footer .newsletter #newsletter-form {
  display: grid;
  gap: 10px;
  margin-bottom: 15px;
}

.footer .newsletter label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #f5f5f5;
}

.footer .newsletter input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 10px;
  background-color: #03071b;
}

.footer .newsletter p {
  color: #f5f5f5;
  font-size: 13px;
}

.footer .newsletter .action-button {
  width: 158px;
  margin-top: 10px;
  cursor: pointer;
  padding: 13px 0;
}

.footer .newsletter .action-button span {
  display: flex;
  padding-left: 25px;
}

.footer .newsletter .action-button img {
  position: static;
}

.footer .contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
  color: #f5f5f5;
}

.footer .contact h3 {
  font-size: 18px;
}

.footer .contact p img {
  margin-right: 10px;
}

.footer a,
.footer h3,
.footer .copyright,
.footer .subscribe {
  color: #f5f5f5;
}

.footer .contact div,
.footer .explore a {
  margin-bottom: 5px;
}

.footer .explore {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer .explore h3 {
  margin-bottom: 12px;
  font-size: 18px;
}

.footer .explore a {
  text-decoration: none;
  margin-bottom: 9px;
}

.footer .explore a:hover {
  text-decoration: underline;
}

.footer .copyright {
  margin-top: 20px;
  font-size: 14px;
}

.subscribe {
  font-size: small;
}

.subscribe a:link,
.subscribe a:active,
.subscribe a:visited {
  color: #f5f5f5;
}

.contact .icon {
  width: 20px;
  height: 20px;
  margin-right: 10px; /* space */
  vertical-align: middle; /*  icons with the middle of the text */
}

.icon-image {
  background-color: white;
  border-radius: 4px;
  padding: 3px;
}
